#ifndef _XXXLX_EXTRA_H
#define _XXXLX_EXTRA_H

#include <stdio.h>

#include "FSM_Step.h"
#include "XXXLX_auto.h"

// Model Structure Overview:
{{ indent(str(model.to_ast_node()), '// ') }}
{% for state in model.walk_states() %}{% if state.events or state.abstract_on_enters or state.abstract_on_durings or state.abstract_on_exits or state.abstract_on_during_aspects %}
// {{ state | get_state_name }}
{% for event in state.events.values() %}extern BOOLEAN {{ get_event_trigger_fn_name(state, event) }}(XXX_FSM_PARAS_DECLARE);
{% endfor %}{% for id, enter in state.list_on_enters(is_abstract=True, with_ids=True) %}extern void {{ get_enter_fn_name(state, enter, id) }}(XXX_FSM_PARAS_DECLARE);
{% endfor %}{% for id, during in state.list_on_durings(is_abstract=True, with_ids=True) %}extern void {{ get_during_fn_name(state, during, id) }}(XXX_FSM_PARAS_DECLARE);
{% endfor %}{% for id, exit in state.list_on_exits(is_abstract=True, with_ids=True) %}extern void {{ get_exit_fn_name(state, exit, id) }}(XXX_FSM_PARAS_DECLARE);
{% endfor %}{% for id, during in state.list_on_during_aspects(is_abstract=True, with_ids=True) %}extern void {{ get_during_aspect_fn_name(state, during, id) }}(XXX_FSM_PARAS_DECLARE);
{% endfor %}{% endif %}{% endfor %}

#endif
