git+https://github.com/hansbug/hbutils@main
click>=7.1.0
PyQt5>=5.15.6
qtmodern>=0.2.0
git+https://github.com/hansbug/pyfcstm@main
pyyaml>=6.0.2
pytest>=8.3.5
QScintilla>=2.14.1
qtawesome>=1.4.0
python-docx>=0.8.11
openpyxl~=3.1.5
plantumlcli~=0.1.3